<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>CodexNotch</string>
	<key>CFBundleExecutable</key>
	<string>CodexNotch</string>
	<key>CFBundleIconFile</key>
	<string>CodexNotch</string>
	<key>CFBundleIdentifier</key>
	<string>com.david.codexnotch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CodexNotch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.1</string>
	<key>CFBundleVersion</key>
	<string>19</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrefersDisplaySafeAreaCompatibilityMode</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/fengdwx/codex-notch/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>0wa4TuNxXo0ma15P80Q9RnMijqRTPB6zmL+LPopSoU8=</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
